<!-- <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <br>
    <div class="form-group">
      <input
      type="text"
      class="form-control"
      name="username"
      [(ngModel)]="model.username"
      placeholder="Username"
      >
    </div>
    
    <div class="form-group">
      <select class="form-control">
        <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">{{user.userName}}</option>
      </select>
      <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="model.password"
      placeholder="Password"
      >
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Register</button>
      <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form> -->

  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <!-- <br>
    <div class="form-group">
      <input
      [class.is-invalid] = 'registerForm.get("password")?.errors && registerForm.get("password")?.touched'
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username"
      >
      <div class="invalid-feedbeck">Please enter a user name'</div>
    </div>  
    <div class="form-group">
      <input
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      placeholder="Password"
      >
      <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedbeck">Please enter a password.'</div>  
      <div *ngIf="registerForm.get('password')?.hasError('minLength')" class="invalid-feedbeck">Min 4 characters'</div>   
      <div *ngIf="registerForm.get('password')?.hasError('maxLength')" class="invalid-feedbeck">Max 8 characters.'</div>   
    </div>
    <div class="form-group">
      <input
      type="password"
      class="form-control"
      name="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      >
      <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedbeck">Please confirm the password.</div>  
      <div *ngIf="registerForm.get('password')?.hasError('IsMatching')" class="invalid-feedbeck">The password not match.</div>  

    </div> -->
    <app-text-input formControlName="username" label="Username"></app-text-input>
    <app-text-input formControlName="password" label="Password" type="password"></app-text-input>
    <app-text-input formControlName="confirmPassword" label="Confirm Password"  type="password"></app-text-input>
  
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Register</button>
      <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <p>Form value: {{registerForm.value | json}}</p>

<p>Form status: {{registerForm.status}}</p>
<p>password status: {{registerForm.get('password')?.status}}</p>
<p>confirmPassword status: {{registerForm.get('confirmPassword')?.status}}</p>
