<header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <div class="container">
      <a class="navbar-brand" href="#">Carousel</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> אנחנו מורידים את הכפתור הזה כי אנחנו לא לומדים את היכולת הזו עכשיו ואנחנו רוצים לשמור את זה פשוט. -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Username">
          <input class="form-control mr-sm-2" type="text" placeholder="Passwors">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">login</button>
        </form>
      </div>
    </div>
    </nav>
  </header>
